services:
  amt_postgres:
    image: postgres:16
    container_name: postgres_16
    ports:
      - "127.0.0.1:${POSTGRES_PORT}:${POSTGRES_PORT}"
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ../deploy/init-test-db.sql:/docker-entrypoint-initdb.d/init-test-db.sql
    command: postgres -c log_connections=on -c log_disconnections=on
    networks:
      - app_network_amt

  amt_fastapi_tests:
    profiles: ["test"]
    build: 
      context: ..
      dockerfile: deploy/Dockerfile
      args:
        INSTALL_TESTS: "true"  # Для обычного сервиса тесты не нужны
    image: amt_fastapi_tests:latest
    volumes:
      - ../tests:/app/tests  
    environment:
      - IN_DOCKER=1
      - PYTHONPATH=/app
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_PORT=${POSTGRES_PORT}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_SCHEMA=${POSTGRES_SCHEMA}
      - DBMS=${DBMS}
      - API_PORT=${API_PORT}
    # Команда запуска тестов вместо запуска сервера
    command: pytest -v -s tests/
    networks:
      - app_network_amt
    depends_on:
      - amt_postgres

  amt_fastapi:  # Имя сервиса
    build: 
      context: ..  # Путь к директории с Dockerfile (относительно docker-compose.yml)
      dockerfile: deploy/Dockerfile
      args:
        INSTALL_TESTS: "false"  # Для обычного сервиса тесты не нужны
    image: amt_fastapi:latest
    ports:
      - "${API_PORT}:${API_PORT}"
    # volumes:
      # - ../src:/app/src
      # - ../migrations:/app/migrations
    restart: unless-stopped  # Авторестарт при сбоях
    environment:
      - PYTHONUNBUFFERED=1
      - IN_DOCKER=1
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_PORT=${POSTGRES_PORT}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_SCHEMA=${POSTGRES_SCHEMA}
      - DBMS=${DBMS}
      - API_PORT=${API_PORT}
    # command: uvicorn main:app --host 0.0.0.0 --port ${API_PORT} --log-level info
    command: >
      sh -c "alembic upgrade head && 
         uvicorn src.main:app --host 0.0.0.0 --port ${API_PORT} --log-level info --reload" 
    networks:
      - app_network_amt
    depends_on:
      - amt_postgres

volumes:
  postgres_data:

networks:
  app_network_amt:
    driver: bridge